body {
    text-align: center;
    margin: 0 -50px;
    padding: 0;
    background-image: url('../assets/images/wood.jpg');
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Gochi Hand', cursive;
    margin: 20px 0 15px 55px;
    color: rgb(175, 30, 30);
    text-shadow: 2px 3px #000000bd;
}

.gamebody {
    background-image: url(../assets/images/bgimg.png);
    width: 1000px;
    height: 550px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    background-size: cover;
}

.canvas {
    position: absolute;
    width: 1000px;
    height: 550px;
    left: 50%;
    margin-left: -500px;
}

.levels {
    display: flex;
    justify-content: center;
    padding-top: 140px;
    padding-left: 70px;
}

.level {
    padding: 20px;
    font-size: 15px;
    font-family: 'Press Start 2P', monospace;
}

#easy {
    color: black;
    cursor: pointer;
    z-index: 2;
}

#medium {
    color: rgb(214, 63, 36);
    cursor: pointer;
    z-index: 2;
}

#hard {
    color: black;
    cursor: pointer;
    z-index: 2;
}

#impossible {
    color: black;
    cursor: pointer;
    z-index: 2;
}

.score {
    font-size: 40px;
    color: rgb(192, 57, 4);
    left: -35px;
    top: 100px;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    transform: rotate(-20deg);
    text-shadow: 2px 3px #000000bd;
}

#points {
    font-size: 80px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 2s ease-in-out forwards infinite;
    animation: swinging 2s ease-in-out forwards infinite;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

.gametext {
    position: absolute;
    font-family: 'Share Tech Mono', monospace;
    background: -webkit-linear-gradient(#ff9933, #cc0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#howtoplay {
    font-size: 23px;
    display: block;
    left: 50%;
    margin-left: -174px;
    top: 50%;
    margin-top: -60px;
    animation: zoom 2s 1 ;
}

@keyframes zoom {
    0% {
        transform: scale(0.3,0.3);
    }
    100% {
        transform: scale(1,1);
    }
}

@-webkit-keyframes zoom {
    0% {
        transform: scale(0.3,0.3);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes zoomandfade {
    0% {
        transform: scale(0.3,0.3);
        opacity: 1;
    }
    2% {
        transform: scale(1,1);
        opacity: 1;
    }
    10% {
        transform: scale(1,1);
        opacity: 1;
    }
    30% {
        transform: scale(1,1);
        opacity: 0;
    }
    100% {
        transform: scale(1,1);
        opacity: 0;
    }
}

#gameover {
    font-size: 25px;
    display: none;
    left: 50%;
    margin-left: -140px;
    top: 50%;
    margin-top: -70px;
}

.response {
    text-shadow: 2px 3px #000000bd;
}

#plus {
    color: rgb(228, 199, 69);
    font-size: 95px;
    font-family: 'Permanent Marker';
    display: none;
    left: 50%;
    margin-left: -35px;
    top: 50%;
    position: absolute;
    margin-top: -113px;
}

.popup {
    animation: zoomandfade 6s 1;
}

#minus {
    font-size: 95px;
    font-family: 'Permanent Marker';
    display: none;
    left: 50%;
    margin-left: -35px;
    top: 50%;
    position: absolute;
    margin-top: -113px;
    color: rgb(192, 57, 4);
}

#round {
    font-size: 15px;
    font-family: 'Press Start 2P', monospace;
    bottom: 220px;
    left: 295px;
    color: rgb(246, 171, 73);
    position: absolute;
    display: none;
}

#reset {
    display: none;
    font-size: 15px;
    font-family: "Press Start 2P";
    bottom: 220px;
    right: 235px;
    color: rgb(246, 171, 73);
    position: absolute;
    cursor: pointer;
}

.scoreboard {
    font-size: 35px;
    color: rgb(192, 57, 4);
    left: 960px;
    top: 60px;
    font-family: 'Gochi Hand';
    position: absolute;
    text-shadow: 1px 2px #000000bd;
    width: max-content;
    text-align: left;
}

.scoreboard:before {
  content: "~~~~~~~~~~~~";
  font-size: 0.9em;
  font-weight: 700;
  width: 100%;
  position: absolute;
  top: 23px;
  left: 1px;
  overflow: hidden;
  letter-spacing: -2px;
}

#scorelist {
    font-size: 23px; 
    margin-left: -40px;
    margin-top: 15px;
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#scorelist div {
    padding-top: 15px;
}

input {
    width: 180px;
    font-family: 'Press Start 2P', monospace;
}

#name {
    text-align: center;
    position: absolute;
    left: 440px;
    bottom: 225px;
    border: none;
    color: black;
    font-size: 30px;
    background-color: transparent;
    outline: none;
;
}

#name::placeholder {
    /* color: rgb(240, 102, 38); */
    color: black;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
}

@-webkit-keyframes autofill {
    0%,100% {
        color: rgb(51, 32, 1);
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


.links {
    font-size: 30px;
    width: 100px;
    position: absolute;
    bottom: 130px;
    right: 150px;
}

.links a {
    padding: 3px;
    text-decoration: none;
}

.links img {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#playbutton {
    background-image: url("../assets/images/playpause.png");
    background-size: 35px;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-color: rgba(47, 47, 47, 0.596);
    margin: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer; 
    position: absolute;
    left: 50px;
    bottom: 30px;
}

.play {
    background-position: 50% -8%;
}

.pause {
    background-position: 50% -32px;
}