body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('../assets/images/wood.jpg');
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Gochi Hand', cursive;
    margin: 20px 0 15px 0;
    color: rgb(175, 30, 30);
    text-shadow: 2px 3px #000000bd;  
}

.gamebody {
    background-image: url(../assets/images/bgimg.png);
    width: 1000px;
    height: 550px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    background-size: cover;
}

.canvas {
    position: absolute;
    width: 1000px;
    height: 550px;
    left: 50%;
    margin-left: -500px;
}

.levels {
    display: flex;
    justify-content: center;
    padding-top: 140px;
    padding-left: 70px;
}

.level {
    padding: 20px;
    font-size: 15px;
    font-family: 'Press Start 2P', monospace;
}

#easy {
    color: black;
    cursor: pointer;
    z-index: 2;
}

#medium {
    color: rgb(214, 63, 36);
    cursor: pointer;
    z-index: 2;
}

#hard {
    color: black;
    cursor: pointer;
    z-index: 2;
}

#impossible {
    color: black;
    cursor: pointer;
    z-index: 2;
}

.score {
    font-size: 40px;
    color: rgb(192, 57, 4);
    left: -35px;
    top: 100px;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    transform: rotate(-20deg);
    text-shadow: 2px 3px #000000bd;
}

#points {
    font-size: 80px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 2s ease-in-out forwards infinite;
    animation: swinging 2s ease-in-out forwards infinite;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

.gametext {
    position: absolute;
    font-family: 'Share Tech Mono', monospace;
    background: -webkit-linear-gradient(#ff9933, #cc0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#howtoplay {
    font-size: 23px;
    display: block;
    left: 50%;
    margin-left: -174px;
    top: 50%;
    margin-top: -60px;
    animation: zoom 2s 1 ;
}

@keyframes zoom {
    0% {
        transform: scale(0.3,0.3);
    }
    100% {
        transform: scale(1,1);
    }
}

@-webkit-keyframes zoom {
    0% {
        transform: scale(0.3,0.3);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes zoomandfade {
    0% {
        transform: scale(0.3,0.3);
        opacity: 1;
    }
    2% {
        transform: scale(1,1);
        opacity: 1;
    }
    10% {
        transform: scale(1,1);
        opacity: 1;
    }
    30% {
        transform: scale(1,1);
        opacity: 0;
    }
    100% {
        transform: scale(1,1);
        opacity: 0;
    }
}

#gameover {
    font-size: 25px;
    display: none;
    left: 50%;
    margin-left: -140px;
    top: 50%;
    margin-top: -60px;
}

.response {
    text-shadow: 2px 3px #000000bd;
}

#plus {
    color: rgb(75, 134, 40);
    font-size: 95px;
    font-family: 'Permanent Marker';
    display: none;
    left: 50%;
    margin-left: -35px;
    top: 50%;
    position: absolute;
    margin-top: -100px;
}

.popup {
    animation: zoomandfade 6s 1;
}

#minus {
    font-size: 95px;
    font-family: 'Permanent Marker';
    display: none;
    left: 50%;
    margin-left: -35px;
    top: 50%;
    position: absolute;
    margin-top: -100px;
    color: rgb(192, 57, 4);
}

#round {
    font-size: 20px;
    font-family: "Lucia";
    bottom: 220px;
    left: 295px;
    color: rgb(246, 171, 73);
    position: absolute;
    display: none;
}

#reset {
    display: none;
    font-size: 15px;
    font-family: "Press Start 2P";
    bottom: 220px;
    right: 235px;
    color: rgb(246, 171, 73);
    position: absolute;
    cursor: pointer;
}

.links {
    font-size: 30px;
    width: 100px;
    position: absolute;
    bottom: 130px;
    right: 150px;
}

.links a {
    padding: 3px;
    text-decoration: none;
}

.links img {
    cursor: pointer;
    width: 40px;
    height: 40px;
}