
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gametitle {
    font-size: 40px;
}

canvas {
    border: 1px solid black;
    min-width: 998px;
    max-width: 998px;
    height: 504px;
    position: relative;
}

#bg {
    min-width: 1000px;
    max-width: 1000px;
    position: absolute;
    z-index: -1;
    /* display: none; */
}

#right {
    display: none;
}

#blueheart {
    display: none;
}
